.root {
    -fx-font: normal 1em sans-serif;
}

.element-icon {
    -fx-alignment: center;
    -fx-border-width: 4px;
    -fx-border-style: solid;
    -fx-border-color: black;
}

.element-icon-linie {
    -fx-stroke: black;
    -fx-stroke-width: 3px;
}

#hinzufuegenIcon {
    -fx-icon-size: 30px;
    -fx-icon-color: limegreen;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

#assoziationButton {
    -fx-graphic-text-gap: 25;
    -fx-label-padding: 25 0 0 0
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-padding: 0 5 0 0;
}

.tab-ungespeichert > .tab-container > .tab-label {
    -fx-text-fill: red;
    -fx-font-style: italic;
}

#HERVORHEBUNG > .ikonli-font-icon {
    -fx-icon-color:red;
}

.titel {
    -fx-font: bold 2em sans-serif;
}

#NEUSTART_WARNUNG {
    -fx-font: bold 1.2em sans-serif;
    -fx-text-fill: red;
}

.UML-Klassifizierer-Ansicht {
    -fx-border-width: 4px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: white;
}

.UML-Klassifizierer-Trennlinie > .line {
    -fx-border-width: 2 1;
    -fx-border-style: solid;
    -fx-border-color: black;
}

#selektiert {
    -fx-effect: dropshadow(one-pass-box, red, 20, 0.5, 0, 0);
}

.zeichenflaeche {
    
}

.sichtbarkeit-label {
    -fx-padding: 0 1 0 0;
}

.attribut-liste {
    -fx-padding: 5 10 5 10;
}

.name-label {
    -fx-font: bold 1.5em sans-serif;
}

.abstrakt {
    -fx-font-style: italic;
}

.klassifizierung {
    -fx-padding: 10 30 10 30;
    -fx-alignment: center;
}

.statisch {
    -fx-underline: true;
}
