.root {
    -fx-font: normal 1em sans-serif;
}

.element-icon {
    -fx-alignment: center;
    -fx-border-width: 4px;
    -fx-border-style: solid;
    -fx-border-color: black;
}

.element-icon-linie {
    -fx-stroke: black;
    -fx-stroke-width: 3px;
}

#hinzufuegenIcon {
    -fx-icon-size: 30px;
    -fx-icon-color: limegreen;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

#assoziationButton {
    -fx-graphic-text-gap: 25;
    -fx-label-padding: 25 0 0 0
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-padding: 0 5 0 0;
}

.tab-ungespeichert > .tab-container > .tab-label {
    -fx-text-fill: red;
    -fx-font-style: italic;
}

#HERVORHEBUNG > .ikonli-font-icon {
    -fx-icon-color:red;
}

.titel {
    -fx-font: bold 2em sans-serif;
}

.dialog-text {
    -fx-font: normal 1.2em sans-serif;
    -fx-text-alignment: center;
}

.dialog-text-warnung {
    -fx-font: bold 1.2em sans-serif;
    -fx-text-fill: red;
}

.dialog-text-frage {
    -fx-font: normal 1.2em sans-serif;
}

.UML-Klassifizierer-Ansicht {
    -fx-border-width: 4px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: white;
}

.UML-Klassifizierer-Trennlinie > .line {
    -fx-border-width: 2 1;
    -fx-border-style: solid;
    -fx-border-color: black;
}

.kommentar {
    -fx-border-width: 4px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: white;
}

.kommentar-hintergrund {
    -fx-border-width: 4px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: silver;
}

#selektiert {
    -fx-effect: dropshadow(one-pass-box, red, 20, 0.5, 0, 0);
}

.sichtbarkeit-label {
    -fx-padding: 0 1 0 0;
}

.attribut-liste {
    -fx-padding: 5 10 5 10;
}

.konstruktor-liste {
    -fx-padding: 5 10 0 10;
}

.methoden-liste {
    -fx-padding: 0 10 5 10;
}

.name-label {
    -fx-font: bold 1.5em sans-serif;
}

.element-icon-bezeichnung {
    -fx-font: bold 16 sans-serif;
}

.fehler-icon {
    -fx-icon-color:red;
}

.exception-dialog.dialog-pane {
    -fx-graphic: null;
}

.abstrakt {
    -fx-font-style: italic;
}

.klassifizierung {
    -fx-padding: 10 30 10 30;
    -fx-alignment: center;
}

.statisch {
    -fx-underline: true;
}

.eingabefehler {
    -fx-base: derive(red, 50%);
    -fx-prompt-text-fill: derive(silver, -40%)
}

.projekt-inhalt {   /* ScrollPane im Tab */
    /*
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-color: red;
    */
}

.zeichenflaeche {   /* Eltern-Knoten der Diagramm-Elemente (Pane) */
    /*
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-color: blue;
    */
}

.vorschau {
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: white;
}


.verbindungslinie {
    -fx-stroke: black;
    -fx-stroke-width: 3;
}

.vererbungs-pfeil {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 3;
}

.assoziations-pfeil {
    -fx-stroke: black;
    -fx-stroke-width: 3;
}

.tag {
    -fx-icon-color: derive(-fx-light-text-color, -10%);
}
