.root {
    -fx-font: normal 1em sans-serif;
}

.element-icon {
    -fx-alignment: center;
    -fx-border-width: 4px;
    -fx-border-style: solid;
    -fx-border-color: black;
}

.element-icon-linie {
    -fx-stroke: black;
    -fx-stroke-width: 3px;
}

#hinzufuegenIcon {
    -fx-icon-size: 30px;
    -fx-icon-color: limegreen;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

#assoziationButton {
    -fx-graphic-text-gap: 25;
    -fx-label-padding: 25 0 0 0
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-padding: 0 5 0 0;
}

.tab-ungespeichert > .tab-container > .tab-label {
    -fx-text-fill: red;
    -fx-font-style: italic;
}

#TEST {
    -fx-graphic-text-gap: 25;
    -fx-text-fill: red;
    -fx-background-color: pink;
    -fx-icon-color: blue;
}

#HERVORHEBUNG > .ikonli-font-icon {
    -fx-icon-color:red;
}

#hervorheben {
    -fx-text-fill: red;
    -fx-background-color: pink;
}